html {
  font-feature-settings: 'palt';
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  line-height: 1.75;
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
}
a {
  transform: scale(1);
  transition: 0.2s ease-in-out;
}

//header
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    margin-left: auto;

    &--login a {
      margin: auto 1rem;
      padding: 1.25rem;
      border-radius: 4px;

      &:hover {
        background: #f0f0f0;
      }
    }
    &--signup a {
      margin-left: 1rem;
      padding: 1rem;
      border-radius: 4px;
      color: #fff;
      background: #52a6a6;
      &:hover {
        background: linear-gradient(90deg, #52a6a6, #a2e989);
      }
    }
  }
}

//content

.contents {
  margin: 0 auto;

  > p,
  h1 {
    margin-bottom: 0.8em;
  }
  &.top {
    width: 80%;
    max-width: 65rem;
  }
  &.result {
    // width: 100%;
    padding: 2rem 1rem;
  }
}
.top {
  &__description {
    margin: 10vh auto 5vh;
  }
}

//result
#result-stats {
  font-size: 1.4rem;
  color: #666;
  border-bottom: 1px solid #f0f0f0;

  p {
    margin: 0 1rem 1rem 1rem;
    font-size: 1.3rem;
    span {
      font-size: 1.8rem;
      font-weight: bold;
    }
  }
}

.result {
  margin-left: 18rem;
  // display: flex;
  // align-items: flex-start;
  // justify-content: space-around;
  max-width: 100%;

  &__item--card {
    max-width: 100%;
  }
}

//tb
@media screen and (max-width: 1024px) {
}
//tb
@media screen and (max-width: 768px) {
  .result {
    margin-left: 0;
    margin: 0 auto;
  }
}
//sp
@media screen and (max-width: 599px) {
}

.blank {
  font-weight: bold;
  text-decoration: underline;
}
